
* {
  //outline: 1px solid red;
}


.background {
  background: url('../img/bg.gif') no-repeat center fixed;
  background-size: cover;
}

/* .bottom-bg {
  background: url('../img/bg-blue.png') no-repeat center;
  background-size: cover;
} */

.coco {
  background: url('../img/coco-cartoon.png') no-repeat center;
  background-size: contain;
}

.icon {
  height: 5vh;
  background: url('../img/coco-cartoon.png') no-repeat center;
  background-size: contain;
}

.scoreboard {
  height: 10vh;
}

.arena {
  height: 50vh;
}

.store {
  height: 20vh;
}

.inventory {
  height: 20vh;
}


.machete {
  background: url('../img/machete.png') no-repeat center center;
  background-size: contain;
}

.toucan {
  background: url('../img/toucan.png') no-repeat center center;
  background-size: contain;
}

.monkey {
  background: url('../img/monkey2.png') no-repeat center center;
  background-size: contain;
}

.troop {
  background: url('../img/troop.png') no-repeat center center;
  background-size: contain;
}
